*{
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

:root {
    --button-color-hover:  linear-gradient(180deg, rgba(150, 150, 150, .7), rgba(150, 150, 150, .5));
    --button-color:  linear-gradient(180deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .5));
    --ball-gradient: linear-gradient(0deg, rgb(255, 204.00000303983688, 252.95999586582184) 0%,rgb(203.10749173164368, 137.06250607967377, 255) 100%) ;
}


.background {
    background: linear-gradient(180deg, #FFBFE6B3, #FFDAA466);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.main {
   width: 920px;
    height: 504px;
    background: linear-gradient(135deg, #ffffff63, #FFFFFF1A);
    backdrop-filter: blur(20px);
    border-radius: 64px;
    overflow: visible;
}

.card-content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

.card-top {
    height: 100%;
    width: 100%;
    display: flex;
    /* background: linear-gradient(180deg, rgba((255), 0, 0, .7),  rgba(112, 0, 255, .3)) */
}

.card-top h1 {
    font-size: 192px;
    width: 100%;
    line-height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(180deg, rgba(255, 0, 0, .7) 20%, rgba(112, 0, 255, .3) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-bottom {
    width: 100%;
    height: 155px;
    background: linear-gradient(99deg, rgba(0, 194, 225, .8), rgba(0, 87, 255, .8),  rgba(68, 56, 255, 69.26), rgba(189, 0, 255, .5), rgba(253, 85, 85, .8));
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.controls-timer {
    text-align: center;
    border-radius: 86px;
    width: 86px;
    height: 86px;
    background: var(--button-color);
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 8px #aaa
}

.controls-timer:hover {
    background: var(--button-color-hover);
}

.controls-timer:active {
    box-shadow: 0 3px 8px #666;
    transform: translateY(4px);
}

.controls-timer p{
    font-size: 48px;
    /* color: var(--button-color); */

    background-image: linear-gradient(155deg, rgba(255, 0, 0, .7) 20%, rgba(112, 0, 255, .3) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.controls-main{
    text-align: center;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background: var(--button-color);
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 8px #aaa

}

.controls-main:hover {
    background: var(--button-color-hover);
}

.controls-main:active {
    box-shadow: 0 3px 8px #666;
    transform: translateY(4px);
}

.controls-main i{
    font-size: 50px;
    width: 100%;

    background-image: linear-gradient(155deg, rgba(255, 0, 0, .7) 20%, rgba(112, 0, 255, .3) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-circle-1 {
	width:1088px;
	height:1088px;
	position:absolute;
	left:-421px;
	top:-458px;
	border-radius:500px;
	background-color:rgba(255, 194.43749696016312, 241.676227748394, 1);
	width:1088px;
	height:1088px;
	position:absolute;
	left:-421px;
	top:-458px;
      filter: blur(150px);
  -webkit-filter: blur(150px);
}

.bg-circle-2 {
	border-radius:500px;
	background-color:rgba(252.87500202655792, 186.4953151345253, 186.4953151345253, 1);
	width:726px;
	height:726px;
	position:absolute;
	left:-321px;
	top:530px;
    overflow: hidden;
      filter: blur(150px);
  -webkit-filter: blur(150px);
}

.bg-circle-3 {
	border-radius:500px;
	background-color:rgba(255, 194.43749696016312, 241.676227748394, 1);
	width:1088px;
	height:1088px;
	position:absolute;

	top:-415px;
    right: -300px;
      filter: blur(150px);
  -webkit-filter: blur(150px);
}

.ball-1 { 
	border-radius:500px;
	background-image:linear-gradient(0deg, rgb(255, 204.00000303983688, 252.95999586582184) 0%,rgb(203.10749173164368, 137.06250607967377, 255) 100%) ;
	width:185px;
	height:185px;
	position:absolute;
    left: 827px;
    top: 299px;

}

.ball-1-shadow {
    border-radius: 500px;
	background-color: rgba(0, 0, 0, 1);
	width: 33px;
	height: 140px;
	position: absolute;
    left: 840px;
    top: 323px;
    filter: blur(40px);
}

.ball-2 {
	border-radius:500px;
	background-image: var(--ball-gradient);
	width:356px;
	height:356px;
	position: relative;
	left:-142px;
	top:-210px;
    z-index: -1;
}


.ball-3 {
	border-radius:500px;
	background-image: var(--ball-gradient);
	width:215px;
	height:215px;
	position: absolute;
	left:191px;
	top:-109px;
    z-index: -1;
}

.ball-4 {
	border-radius:500px;
	background-image: var(--ball-gradient);
	width:304px;
	height:304px;
	position: absolute;
	left:778px;
	top:-151px;
    z-index: -1;
}